@import "../styles/theme";
@import "../styles/viewports";

.container {
  width: 100vw;
  display: flex;
  color: var(--text);
  position: fixed;
  bottom: 0;
  z-index: 5;
  backdrop-filter: blur(5px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
}
