@import "../styles/theme";

.swapInputContainer {
  //border: 1px solid var(--outline-gray);
  // border-radius: 8px;
  // padding: 12px;
  display: flex;
  width: 100%;
  position: relative;
  background-color: none; //var(--primary-background);
}

.selectGroup {
  display: flex;
  align-items: center;
  margin-left: auto;

  &.hoverPointer {
    &:hover {
      cursor: pointer;
    }
  }
  > img {
    height: 24px;
    width: 24px;
  }

  .tokenNameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .symbolArrowContainer {
    display: flex;
    align-items: center;
    svg path {
      fill: var(--primary-foreground);
    }
  }
}

.input {
  background-color: var(--accent-1);
  padding: 15px;
  border-radius: 15px;
}

.output {
  background-color: var(--acent-2);
  padding: 15px;
  border-radius: 15px;
}

.inputGroup {
  display: flex;
  margin-right: auto;
  flex-direction: column;
  cursor: default;
  width: 25%;
  input {
    cursor: default;
    font-size: 2rem;
    outline: none;
    text-align: right;
    background: none; //var(--primary-background);
    color: var(--primary-foreground);
    width: 100%;
    margin: auto;
    text-align: initial;
  }
  &.focusable,
  &.focusable input {
    cursor: text;
  }
}

.textBoldPurple {
  outline: none;
  color: var(--text-selected);
  font-weight: 800;
  font-size: 16px;
}

.dropdownBackground {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
}
.dropdownContainer {
  width: min(500px, 85%);
  // position: absolute;
  // left: auto;
  // right: auto;
  // top: 110%;
  // left: -1px;
  z-index: 999;
  box-shadow: var(--shadow);
  margin: auto;
  margin-top: 5rem;
}

.textMinor {
  font-size: 12px;
  color: var(--text-lighter);
  margin-top: auto;
}
